body {
    background-color: #eaf6f6;
    margin: 0;
    text-align: center;
    color: #40514E;
    font-family: "Merriweather", serif;
}

h1 {
    color: #66bfbf;
    font-size: 5.625rem;  /*90 =5.625     1px=0.0625*/
    margin: 50px auto 0 auto;
    font-family: "Sacramento", serif;
}   

h2 {
    color: #66bfbf;
    font-family: "Playwrite GB S", serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #40514E;
    font-family: "Montserrat", sans-serif;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
}

a {
    color: #40514E;
    font-family: "Montserrat", sans-serif;
    margin: 20px 10px;
    text-decoration:none;
}

a:hover {
    color: #eaf6f6;
}

.copy-right {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.intro {
    width: 30%;
    margin: auto;
}


hr {
    border: dotted #ddd 6px;
    border-bottom: none;
    width: 1%;
    margin: 100px auto;
}

.btn {
    background: #40514e;
    background-image: -webkit-linear-gradient(top, #40514e, #40514e);
    background-image: -moz-linear-gradient(top, #40514e, #40514e);
    background-image: -ms-linear-gradient(top, #40514e, #40514e);
    background-image: -o-linear-gradient(top, #40514e, #40514e);
    background-image: linear-gradient(to bottom, #40514e, #40514e);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: "Montserrat", sans-serif; 
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #17b36f;
    text-decoration: none;
  }

.contact-message {
    width: 40%;
    margin: 40px auto 60px ;
}

.profile-pic {
 /*   height: 300px;*/
    max-width:100%;
    height:auto;
}

.mountain {
    max-width:100%;
    height:auto;
}

.skill-row {
    width: 50%;
    margin: 50px auto;
}


/*******************GIPHY********************/


.deve-img {
   /*width: 25%;*/
    max-width:100%;
    height:auto;
}



.settings-img {
   /* width: 25%;*/
    max-width:100%;
    height:auto;
}


/*********************containers************/
.top-container {
    background-color: #40514E;
    position: relative;
    padding-top: 100px;
    padding-bottom: 5px;
    margin-bottom: 100px;
      
}


.middle-container {
    margin: 100px 0;
}


.bottom-container {
    background-color: darkcyan;
    padding: 50px 0 20px;
}


/********************clouds***************/

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

